PMU/Service References/PMUService/PMUServiceHost1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60956/PMUServiceHost.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PMU.PMUServices.PMUService.Contracts.Entitites" />
  <xs:element name="InsertUserSignUpDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PMU.PMUServices.PMUService.Contracts.Entitites" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserSignUpDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PMU.PMUServices.PMUService.Contracts.Entitites" minOccurs="0" name="InsertUserSignUpDetailsResult" nillable="true" type="q2:PMUServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserNameExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserNameExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PMU.PMUServices.PMUService.Contracts.Entitites" minOccurs="0" name="IsUserNameExistResult" nillable="true" type="q3:PMUServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>